nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .brand__container {
    .brand {
      img {
        height: 100%;
      }
    }
    .toggle__container {
      display: none;
    }
  }
  .link__container {
    .links {
      list-style-type: none;
      display: flex;
      gap: 4rem;
      li {
        a {
          color: var(--accent-color1);
          text-decoration: none;
        }
        .sign__up {
          color: var(--pink);
        }
      }
    }
  }
}
